<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %> 
  <body>
    <%- include('../partials/navigation.ejs') %> 
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">CRUD Snippets</h1>
        <p class="lead">This is a simple CRUD web-application that manage code snippets.</p>
        <hr class="my-4">
        <p>The application is developed for Assignment 2 in the cource 1DV023 at Linnaeus University. Sign up and start use the application by clicking the button below.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="./users/new" role="button">Sign Up</a>
        </p>
      </div>
    </div>
  <%- include('../partials/bs_script.ejs') %> 
  </body>
</html>