<!-- Custom error page taken from the solution for exercise 'Follow the Route' in the cource 1dv023 by Mats Loock -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Internal Server Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./errors/error.css"/>
</head>
<body>
    <h1>500 Internal Server Error</h1>
    <p>Unfortunately we're having trouble loading the resource you are looking for. Please come back in a while.</p>
</body>
</html>
