<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="./">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="">X</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100 d-flex justify-content-between">
      <li class="nav-item">
        <a class="nav-link" href="./snippets">Snippets</a>
      </li>
      <% if (locals.user) { %>
        <li class="nav-item">
          <a class="nav-link" href="./snippets/new">Create snippet</a>
        </li>
        <div class="d-flex" id="auth_div">
          <li class="nav-item">
              <a class="nav-link btn btn-outline-danger" href="./sessions/delete">Sign Out</a>
          </li>
        </div>
      <% } else { %>
        <div class="d-flex" id="auth_div">
          <li class="nav-item">
            <a class="nav-link" href="./sessions/new">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./users/new">Sign Up</a>
          </li>
        </div>
      <% } %>
    </ul>
  </div>
</nav>